body{
    background: url('https://2.bp.blogspot.com/-6K62Nr_2pYA/V6l5LZYFATI/AAAAAAAADU4/cnlj8vx1H1IoEXvjd3t_MMIbsTkN69omACLcB/s1920/red_nylon_canvas_fabric-1920x1200.jpg') no-repeat fixed;
    background-color: aliceblue;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#btn{
    margin-top: -20%;
}
